# -----------------------------
# Data directories (ignore files, keep folders)
# -----------------------------

data/**
!data/.gitkeep

!data/raw/
data/raw/**
!data/raw/.gitkeep

# -----------------------------
# Results
# -----------------------------

results/**
!results/.gitkeep

# -----------------------------
# Logs
# -----------------------------

logs/**
!logs/.gitkeep

# -----------------------------
# Snakemake
# -----------------------------

.snakemake/

# -----------------------------
# Environments
# -----------------------------

*.conda
*.env

# -----------------------------
# Python
# -----------------------------

__pycache__/
*.pyc

# -----------------------------
# System
# -----------------------------

.DS_Store