# -----------------------------
# Data directories (ignore files, keep folders)
# -----------------------------

data/**
!data/.gitkeep

!data/raw/
data/raw/**
!data/raw/.gitkeep

!data/chunks/
data/chunks/**
!data/chunks/.gitkeep

!data/processed/
data/processed/**
!data/processed/.gitkeep

!data/descriptors/
data/descriptors/**
!data/descriptors/.gitkeep

!data/predictions/
data/predictions/**
!data/predictions/.gitkeep

# -----------------------------
# Results
# -----------------------------

results/**
!results/.gitkeep

# -----------------------------
# Logs
# -----------------------------

logs/**
!logs/.gitkeep

# -----------------------------
# Snakemake
# -----------------------------

.snakemake/

# -----------------------------
# Environments
# -----------------------------

*.conda
*.env

# -----------------------------
# Python
# -----------------------------

__pycache__/
*.pyc

# -----------------------------
# System
# -----------------------------

.DS_Store